{% extends 'base.html.twig' %}

{% block title %}{{ title }} | EasyFit{% endblock %}

{% block body %}

{# Fil d'ariane #}
<div class="px-4 mb-4">
    <p><a href="{{ path('app_account') }}">< Retour au compte</a></p>
</div>

<div class="flex justify-center items-center py-8">
    <div class="w-full max-w-md border rounded-2xl p-8 bg-white">

        <h1 class="text-4xl font-semibold text-center mb-6">Modifier mes informations</h1>

        {{ form_start(editForm) }}

            {# Prénom #}
            <div class="mb-4">
                {{ form_label(editForm.firstname, 'Prénom', {'label_attr': {'class': 'text-xl font-semibold'}}) }}
                {{ form_widget(editForm.firstname, {'attr': {'class': 'w-full bg-gray-100 rounded-lg px-3 py-1'}}) }}
                {{ form_errors(editForm.firstname, {'attr': {'class': 'text-red-600 text-sm'}}) }}
            </div>

            {# Nom #}
            <div class="mb-4">
                {{ form_label(editForm.lastname, 'Nom', {'label_attr': {'class': 'text-xl font-semibold'}}) }}
                {{ form_widget(editForm.lastname, {'attr': {'class': 'w-full bg-gray-100 rounded-lg px-3 py-1'}}) }}
                {{ form_errors(editForm.lastname, {'attr': {'class': 'text-red-600 text-sm'}}) }}
            </div>

            {# Email #}
            <div class="mb-4">
                {{ form_label(editForm.email, 'Email', {'label_attr': {'class': 'text-xl font-semibold'}}) }}
                {{ form_widget(editForm.email, {'attr': {'class': 'w-full bg-gray-100 rounded-lg px-3 py-1'}}) }}
                {{ form_errors(editForm.email, {'attr': {'class': 'text-red-600 text-sm'}}) }}
            </div>

            {# Mot de passe #}
            <div class="mb-4">
                {{ form_label(editForm.plainPassword.first, 'Mot de passe', {'label_attr': {'class': 'text-xl font-semibold'}}) }}
                {{ form_widget(editForm.plainPassword.first, {'attr': {'class': 'w-full bg-gray-100 rounded-lg px-3 py-1'}}) }}
                {{ form_errors(editForm.plainPassword.first) }}
            </div>

            {# Confirmation du mot de passe #}
            <div class="mb-4">
                {{ form_label(editForm.plainPassword.second, 'Confirmation du mot de passe', {'label_attr': {'class': 'text-xl font-semibold'}}) }}
                {{ form_widget(editForm.plainPassword.second, {'attr': {'class': 'w-full bg-gray-100 rounded-lg px-3 py-1'}}) }}
                {{ form_errors(editForm.plainPassword.second) }}
            </div>

            {# Actions #}
            {{ form_widget(editForm.submit, {'attr': {'class': 'w-full text-white bg-primary px-4 py-2 rounded-full hover:bg-accent mb-4'}}) }}
            <a href="{{ path('app_account') }}" class="block w-full text-center text-white bg-red-600 px-4 py-2 rounded-full hover:bg-red-700">
                Annuler
            </a>

        {{ form_end(editForm) }}

    </div>
</div>

{% endblock %}
