{% extends 'base.html.twig' %}

{% block title %}{{ title }} | EasyFit{% endblock %}

{% block body %}
<div>
    <div>
        Bonjour {{ user.firstname }} {{ user.lastname }}
        {{ form(editForm) }}
    </div>

    <div>
        <a href="{{ path('app_account_history') }}">Mes commandes passées</a>
    </div>
</div>
{% endblock %}
