{% extends 'base.html.twig' %}

{% block title %}{{ title }} | EasyFit{% endblock %}

{% block body %}
    <div class="flex justify-center items-center py-8">
        <div class="w-full max-w-md border rounded-2xl p-8 bg-white">

            <h1 class="text-4xl font-semibold text-center">Connexion</h1>

            <form method="post">

                {# Message d'erreur d'authentification #}
                {% if error %}
                    <div class="text-red-600 text-sm mt-4">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ logout_path() }}">Logout</a>
                    </div>
                {% endif %}

                {# Email #}
                <div class="mb-4 mt-4">
                    <label for="username" class="text-xl font-semibold">Email</label>
                    <input
                        type="email"
                        value="{{ last_username }}"
                        name="_username" id="username"
                        class="w-full bg-gray-100 rounded-lg px-3 py-1"
                        placeholder="john.doe@example.com"
                        autocomplete="email"
                        required autofocus
                    >
                </div>

                {# Mot de passe #}
                <div class="mb-4">
                    <label for="password" class="text-xl font-semibold">Mot de passe</label>
                    <input
                        type="password"
                        name="_password"
                        id="password"
                        class="w-full bg-gray-100 rounded-lg px-3 py-1"
                        placeholder="******"
                        autocomplete="current-password"
                        required
                    >
                    <input
                        type="hidden"
                        name="_csrf_token"
                        data-controller="csrf-protection"
                        value="{{ csrf_token('authenticate') }}"
                    >
                </div>

                {# Actions #}
                <div class="text-center">
                    <button class="w-full text-white bg-primary px-4 py-2 rounded-full hover:bg-accent" type="submit">
                        Se connecter
                    </button>
                    <p class="text-sm mt-4">Pas encore de compte ? <a href="{{ path('app_register') }}" class="font-bold hover:underline">S'inscrire</a></p>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
