{% extends 'base.html.twig' %}

{% block title %}{{ title }} {{ category }} | EasyFit{% endblock %}

{% block body %}

{# Fil d'ariane #}
<div class="px-4 mb-4">
    <p><a href="{{ path('app_home') }}">Accueil</a> > <a href="{{ path('app_product', {categorySlug: category.slug}) }}">{{ category }}</a></p>
</div>

<div class="flex w-full flex-col items-center px-4 py-8">

    {# En-tête de la catégorie #}
    <div class="text-center max-w-2xl">
        <h1 class="text-4xl font-semibold">{{ category }}</h1>
        <div class="mt-4">
            <p>{{ category.description|raw }}</p>
        </div>
    </div>

    {# Catalogue produits #}
    <section class="w-full my-8">
        <h2 class="text-2xl font-bold mb-5">Catalogue {{ category }}</h2>
        <div class="grid grid-cols-2 lg:grid-cols-4">
            {% for product in products %}
                {% include 'partials/_product_card.html.twig' with {'product': product} %}
            {% endfor %}
        </div>
    </section>

</div>
{% endblock %}
